[Unit]
Description=PolsatWebRTCffmpeg_2
After=NetworkManager-wait-online.service network.target network-online.target dbus.service polsat_restream_2.service
Wants=NetworkManager-wait-online.service network-online.target polsat_restream_2.service
Requires=dbus.service

[Service]
ExecStart=/home/scripts/./polsat_webrtc.sh /home/scripts/./polsat_webrtc_2 1 224.11.11.1 2222
User=root
Restart=always
Type=simple
RestartSec=10
StartLimitInterval=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=polsat_webrtc_2

[Install]
WantedBy=multi-user.target