[Unit]
Description=polsat_restream_2
After=NetworkManager-wait-online.service network.target network-online.target dbus.service
Wants=NetworkManager-wait-online.service network-online.target
Requires=dbus.service

[Service]
ExecStart=/home/scripts/./polsat_restream.sh /home/scripts/./polsat_restream_2 224.10.11.121:2222 1
User=root
Restart=always
Type=simple
RestartSec=10
StartLimitInterval=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=polsat_restream_2

[Install]
WantedBy=multi-user.target