[Unit]
Description=WebRTCffmpeg_1
After=NetworkManager-wait-online.service network.target network-online.target dbus.service
Wants=NetworkManager-wait-online.service network-online.target
Requires=dbus.service

[Service]
ExecStart=/home/scripts/./webrtc.sh /home/scripts/./webrtc_1 224.10.11.120:1111 172.26.9.100 1111
User=root
Restart=always
Type=simple
RestartSec=10
StartLimitInterval=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webrtc_1

[Install]
WantedBy=multi-user.target